.header{
    &__container{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: calc(100% - 30px);
            width: 100vw;
            height: 100%;
            background-color: var( ---primary-color);
        }
    }

    &__row{
        display: flex;
        height: 768px;
    }

    &__info{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 392px;
        margin-top: clamp(1.25rem, calc(0.203rem + 5.23vw), 4.063rem);
    }

    &__logo{
        width: 110px;
        height: 37px;
        margin-right: 132px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__title{
        position: absolute;
        z-index: 1;
        bottom: clamp(1.25rem, calc(0.203rem + 5.23vw), 4.063rem);
        left: 0;
        @include adaptiv-font(54, 32);
        line-height: 130%;
        text-align: left;

        span{
            display: block;
            background-color: var(---accent-color);
            padding: 0 15px;
            color: #fff;
            transform: translateX(-15px);
        }
    }

    &__video{
        flex: 1 1 auto;
        background: url("../img/header/video_bg.png") 50%/cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__video-play-btn{
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 4px 24px rgba(74, 74, 74, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .3s ease;
        position: absolute;
        z-index: 0;
        
        svg{
            position: relative;
            left: 1px;
            transition: fill .3s ease;
        }
    
        @media (any-hover: hover) { 
            &:hover{
                background-color: var(---accent-color);
                svg path{ fill: #fff }
            } 
        }
    }

    &__video-bg{
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
        
        .video{
            height: 100%;
            width: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            transition: opacity .5s ease;
        }

        .video.active{
            opacity: 1;
        }
    }

    &__navbar{
        width: 21%;
        padding: clamp(1.25rem, calc(0.203rem + 5.23vw), 4.063rem) 0 0 41px;
        background-color: var(---primary-color); 
    }
}

.basket{
    width: 18px;
    height: 18px;
    position: relative;

    img{
        width: 100%;
        height: 100%;
    }

    &__counter{
        position: absolute;
        bottom: 11px;
        left: 13px;
        width: 20px;
        height: 20px;
        background-color: var(---accent-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after{
            content: "2";
            color: #fff;
            line-height: 20px;
        }
    }
}

.navbar{
    &__row{
        display: flex;
        flex-direction: column;
        gap: 123px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    &__link{
        color: #EDF0F5;
        transition: color .3s ease;
        @media (any-hover: hover) { &:hover{ color: var(---accent-color); } }
    }

    &__burger{
        display: none;
    }
}

.navbar.active{
    position: fixed;
    width: 100vw;
    height: clamp(3.438rem, calc(2.693rem + 3.72vw), 5rem);
    z-index: 2;
    left: 0;
    padding: 0;

    .navbar__row{
        height: clamp(3.438rem, calc(2.693rem + 3.72vw), 5rem);
        gap: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navbar__list{
        flex-direction: row;
        width: 100%;
        gap: 27px;
    }

    .navbar__basket{
        margin-right: 0;
    }
}


@media (max-width: 1180px){
    .header{
        &__logo{
            margin-right: 55px;
        }

        &__navbar{
            padding: clamp(1.25rem, calc(0.203rem + 5.23vw), 4.063rem) 0 0 20px;
        }
    }
}

@media (min-width: 991.98px){
    .navbar.active.not-animated{
        opacity: 0;
        transform: translateY(-50px);
    }
    
    .navbar.active.animating{
        transition: opacity .6s ease-in-out, transform .6s ease-in-out;
        opacity: 1;
        transform: translateY(0);
    }
    
    .navbar.active.animated{
        transition: opacity .3s linear, transform .2s linear;
        opacity: 0;
        transform: translateY(-50px);
    }
    
    .navbar.active{
        box-shadow: 0px 6px 40px #8293c0;
    }
}

@media (max-width: 991.98px){
    .navbar{
        position: fixed;
        width: 100vw;
        height: clamp(3.438rem, calc(2.693rem + 3.72vw), 5rem);
        z-index: 1;
        left: 0;
        padding: 0;
    
        &__row{
            height: clamp(3.438rem, calc(2.693rem + 3.72vw), 5rem);
            gap: 0;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

        }
    
        &__list{
            flex-direction: row;
            width: 100%;
            gap: 27px;
        }
    
        &__basket{
            margin-right: 0;
        }
    }

    .header{
        position: relative;
        &__container{
            position: static;
           
            &::after{
                display: none;
            }
        }

        &__row{
            min-height: 100vh;
            height: 650px;
        }

        &__video{
            position: absolute;
            width: 100vw;
            height: 100%;
            left: 0;
        }

        &__info{
            padding: clamp(4.688rem, calc(3.943rem + 3.72vw), 6.25rem) 0 0 0;
            margin: 0;
        }

        &__logo{
            z-index: 1;
            margin: 0;
        }

        &__title{
            color: var(---accent-color);
            transform: translateX(15px);
        }
    }
}

@media (max-width: 767.98px){
    .navbar{
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: var(---primary-color);
        }
   
        &__burger{        
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
    
            span,
            &::before,
            &::after{
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
    
            &::before{ top: 0; }
            
            &::after{ bottom: 0; }
    
            span{ top: 9px; }
        }

        &__burger.active{
            &::before{
                transform: rotate(45deg);
                top: 9px; 
            }
    
            &::after{
                transform: rotate(-45deg);
                bottom: 9px;
            }
    
            span{ transform: scale(0); }
        }

        &__menu{
            position: fixed;
            background-color: var(---primary-color);
            height: 100%;
            width: 100%;
            top: -100%;
            left: 0;
            overflow: auto;
            transition: top .5s ease;
        }

        &__menu.active{ top: 0; }

        &__list{
            flex-direction: column;
            gap: 40px;
            align-items: center;
            padding-top: clamp(4.375rem, calc(3.48rem + 4.47vw), 5.625rem);
        }

        &__link{
            font-size: 25px;
            line-height: 130%;
            text-align: center;
        }
    }

    .navbar.active{
        .navbar__list{
            flex-direction: column;
            gap: 40px;
        }
    }

    .basket{
        z-index: 3;
    }
}
